<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Xenol</title>
    <link rel="stylesheet" href="./css/main.css">

</head>

<body>
    <%- include('partials/header') %>

        <h1>Xenol is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laboriosam dolorem voluptas
            repellendus
            ullam nam quia corporis aliquid. Aperiam, fugit?</h1>

        <%- include('partials/footer') %>

</body>

</html>