<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xenol - Stay Protected Online</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <%- include('partials/header') %>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque possimus, ipsam nam eius alias eligendi iure
            veniam quod quas, inventore accusamus tenetur error corporis quibusdam atque unde autem reprehenderit
            obcaecati.
        </p>

        <%- include('partials/footer') %>

</body>

</html>